<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="menu">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>

      <div class="sidenav">
        <div class="sidenav-panel">
          <ul>
            <li><a href="#">Home</a></li>
            <li>
              <a href="#" class="archive">Archive</a>
            </li>
            <li><a href="">Post</a></li>
            <li><button>Sign up</button></li>
            <li><button>Login</button></li>
          </ul>
          <span class="underline"></span>
        </div>
      </div>
      <script>
        $(".menu").click(function() {
          $(this).toggleClass("change");
          $(".sidenav").toggleClass("showmenu");
        });

        $(".work").click(function() {
          $(this).append("");
        });
      </script>
<!-- end of the navbar -->

        <div class="smoke">
          <span>A</span>
          <span>N</span>
          <span>I</span>
          <span>M</span>
          <span>E</span>
          <br>
          <span>O</span>
          <span>V</span>
          <span>E</span>
          <span>R</span>
          <span>L</span>
          <span>O</span>
          <span>A</span>
          <span>D</span>
        </div>
    </header>

    <% blog.posts.forEach(function (item) {  %>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="<%= item.image %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= item.title %></h5>
        <p class="card-text"><%= item.desc %>
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= item.date %></li>
        <li class="list-group-item" style="padding-left: 7.25rem;"><%= item.author %></li>  
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <% }); %>
  </body>
</html>
